.content-columns {
    display: flex;
    padding: 1rem 6rem 3rem 6rem;
    height: calc(100vh - 108px);
}

.content-columns > div {
    flex: 1;
}

@media (max-width: 1100px) {
    .content-columns {
        padding: 1rem 4rem 3rem 4rem;
    }

}

@media (max-width: 900px) {
    .content-columns {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem 3rem 3rem;
        height: 100%;
    }
    .content-columns > div {
        flex: none;
    }
}

@media (max-width: 600px) {
    .content-columns {
        padding: 0rem;
    }
}